## brewinstall apps
asciinema
agg
btop
colordiff
duf
dust
fd
fzf
go
hugo
mistral-vibe
# mole
ncdu
# pandoc
procs
ripgrep
shellcheck
shmft
tree
webp
wget
zoxide
zsh-autosuggestions
zsh-completions
zsh-syntax-highlighting
