## brewinstall apps
agg
asciinema
btop
colordiff
duf
dust
fd
fzf
go
hugo
icdiff
mistral-vibe
# mole
ncdu
procs
ripgrep
shellcheck
shfmt
tmux
tree
webp
wget
zoxide
zsh-autosuggestions
zsh-completions
zsh-syntax-highlighting