## brewinstall apps
agg
asciinema
bash-language-server
btop
colordiff
duf
dust
fd
font-jetbrains-mono
fzf
go
helix
herdr
hugo
icdiff
mistral-vibe
# mole
ncdu
procs
ripgrep
shellcheck
shfmt
tree
webp
wget
zoxide
zsh-autosuggestions
zsh-completions
zsh-syntax-highlighting
