## brewinstall casks
# 8bitdo-ultimate-software-v2
balenaetcher
brave-browser
claude
cleanmymac
cyberduck
discord
font-jetbrains-mono
ghostty
iina
keka
logitech-g-hub
obsidian
proton-pass
puremac
rectangle
rustdesk
utm
zed
zen
