## brewinit cli apps
agg
asciinema
btop
colordiff
duf
dust
fd
fzf
go
helix
herdr
hugo
icdiff
mistral-vibe
# mole
ncdu
procs
ripgrep
shellcheck
shfmt
tree
webp
wget
zoxide
zsh-autosuggestions
zsh-completions
zsh-syntax-highlighting
